/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal p.subtext {
    font-size: 0.9em;
}
.reveal section img {
    border: none;
}
.reveal section .white {
    color: #fff;
}
table.takeaways td {
    background-color: #D6C0D7;
    color: #333;
    border-right: 4px solid #FFF;
    padding: 1em .8em;
    width: 33%;
    vertical-align: middle;
    text-align: center;
}
table.takeaways tr:first-child td {
    padding-bottom: 0;
}
table.takeaways {
    padding: 1em;
}
table.takeaways tr.numbers td {
    text-align: center;
}
.reveal .slides section .fragment.highlight-green.visible,
.agenda .highlight {
    color: rgb(46, 228, 0);
}
.bg-white h2,
.bg-white h3,
.bg-white h4,
.bg-white h5,
.bg-white ul {
    color: #333;
}
table.technologies td {
    width: 25%;
    vertical-align: middle;
}
table.platforms td {
    width: 50%;
    vertical-align: middle;
}
.reveal section img.no-bg {
    background: none;
    box-shadow: none;
}